src/Micro.Base/bin/Debug/netstandard2.0/Micro.Base.dll
src/Micro.Base/bin/Debug/netstandard2.0/Micro.Base.dll
src/Micro.Base/obj/Debug/netstandard2.0/Micro.Base.pdb
src/Micro.Services.Activities/obj/Debug/netcoreapp2.0/Micro.Services.Activities.pdb
src/Micro.Services.Activities/bin/Debug/netcoreapp2.0/Micro.Base.dll
src/Micro.Services.Activities/bin/Debug/netcoreapp2.0/Micro.Base.pdb
src/Micro.Services.Activities/bin/Debug/netcoreapp2.0/Micro.Services.Activities.dll
src/Micro.Services.Activities/bin/Debug/netcoreapp2.0/Micro.Services.Activities.pdb
src/Micro.Services.Activities/obj/Debug/netcoreapp2.0/Micro.Services.Activities.dll
