src/Micro.Base/bin/Debug/netstandard2.0/Micro.Base.dll
src/Micro.Base/bin/Debug/netstandard2.0/Micro.Base.dll
src/Micro.Base/obj/Debug/netstandard2.0/Micro.Base.pdb
src/Micro.Services.Activities/obj/Debug/netcoreapp2.0/Micro.Services.Activities.pdb
src/Micro.Services.Activities/bin/Debug/netcoreapp2.0/Micro.Base.dll
src/Micro.Services.Activities/bin/Debug/netcoreapp2.0/Micro.Base.pdb
src/Micro.Services.Activities/bin/Debug/netcoreapp2.0/Micro.Services.Activities.dll
src/Micro.Services.Activities/bin/Debug/netcoreapp2.0/Micro.Services.Activities.pdb
src/Micro.Services.Activities/obj/Debug/netcoreapp2.0/Micro.Services.Activities.dll
src/Micro.API/obj/Debug/netcoreapp2.0/Micro.API.csprojResolveAssemblyReference.cache
.vscode/launch.json
.vscode/tasks.json
src/Micro.API/bin/Debug/netcoreapp2.0/Micro.API.dll
src/Micro.API/bin/Debug/netcoreapp2.0/Micro.API.pdb
src/Micro.API/obj/Debug/netcoreapp2.0/Micro.API.dll
src/Micro.API/obj/Debug/netcoreapp2.0/Micro.API.pdb
src/Micro.API/obj/Debug/netcoreapp2.0/Micro.API.csprojResolveAssemblyReference.cache
src/Micro.API/obj/Debug/netcoreapp2.0/Micro.API.dll
src/Micro.API/bin/Debug/netcoreapp2.0/Micro.API.dll
src/Micro.API/bin/Debug/netcoreapp2.0/Micro.API.pdb
src/Micro.API/obj/Debug/netcoreapp2.0/Micro.API.pdb
src/Micro.API/obj/Debug/netcoreapp2.0/Micro.API.csproj.CoreCompileInputs.cache
src/Micro.API/obj/Debug/netcoreapp2.0/Micro.API.csprojResolveAssemblyReference.cache
src/Micro.Base/obj/Micro.Base.csproj.nuget.cache
src/Micro.Base/obj/Micro.Base.csproj.nuget.g.props
src/Micro.Base/obj/Debug/netstandard2.0/Micro.Base.csproj.CoreCompileInputs.cache
src/Micro.Base/obj/Debug/netstandard2.0/Micro.Base.csprojResolveAssemblyReference.cache
src/Micro.Services.Identity/obj/Debug/netcoreapp2.0/Micro.Services.Identity.csproj.CoreCompileInputs.cache
